<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Asignar Mesas a Invitados</h1>
        <button class="button button-clear button-primary" ng-click="modalList.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
        <ul class="list">
            <li class="item" collection-repeat="guest in listOfGuest | filter:{table:null}" ng-click="asignTable(guest)">

              Invitado: {{guest.familyName}} - No. Personas: {{guest.numberOfPeople}}
            </li>
        </ul>
    </ion-content>
</ion-modal-view>
