<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Agregar Invitados</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
      
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Familia</span>
                <input ng-model="data.familyName" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Numero de Invitados</span>
                <input ng-model="data.numberOfPeople" type="text">
            </label>

            <button class="button button-full button-positive" ng-click="addGuest(data)">Agregar</button>
        </div>
    </ion-content>
</ion-modal-view>
