<ion-view view-title="Acciones">
  <ion-content>

    <button class="button button-block button-positive" ng-click="generatePDF();">
      Generar PDF
    </button>
    <button class="button button-block button-positive" ng-click="export();">
      Exportar Invitados
    </button>
    <button class="button button-block button-positive" ng-click="openPopover($event)">
      Importar Invitados
    </button>

    <button class="button button-block button-positive" ng-click="resetGuest()">
      Reset Invitados
    </button>
    <button class="button button-block button-positive" ng-click="resetTables()">
      Reset Mesas
    </button>

  </ion-content>
</ion-view>
